{% extends 'base.html' %}

{%load static %}

{% block style %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
{%endblock%} {% block content %}

<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Navigation Bar with Search Box</title>
  <link rel="stylesheet" href="{% static 'styles/book_nav.css' %}" />

  <!-- Unicons CSS -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
  <script src="{% static 'js/book_nav.js' %}" defer></script>
</head>

<body>
  <nav class="nav" >
    <i class="uil uil-bars navOpenBtn"></i>
    <a href="#" class="logo">Register Book</a>

    <ul class="nav-links" style="margin-bottom : 0;">
      <i class="uil uil-times navCloseBtn"></i>
      <li><a href="{% url 'name'%}">Home</a></li>

      {%if user.is_superuser%}
      <li><a href="{% url 'libform'%}">Add Book</a></li>
      <li><a href=" {% url 'admin:index' %}">Remove Book</a></li>
      {%endif%}
    </ul>

    <i class="uil uil-search search-icon" id="searchIcon"></i>
    <div class="search-box">
      <i class="uil uil-search search-icon"></i>
      <input type="text" placeholder="Search here..." />
    </div>
  </nav>

  <br>
  <br>




  <div class="container">
    <div class=" row">
      {% for book in book %}
      <!-- First card -->
      <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 50px;">
        <div class="card shadow-sm border-0 rounded">
          <img src="{{ book.img.url }}" class="card-img-top" alt="Kathmandu">
          <div class="card-body">
            <h5 class="card-title">{{book.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted " >{{book.desc}}</h6>
            <p class="card-text">{{book.author}}</p>
            <p class="card-text">{{book.price}}</p>
            
            
         
            {% if user.is_superuser %}
         
          
              <a href="{% url 'update_form' book.id %}"><button>Update</button></a>



            </form>
            

            
              
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}




</body>

</html>

{%endblock%}