{% extends 'base.html' %} 

{%load static %} 

{% block content %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login & Signup Form</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>

  <body>
    <div class="center">
      <h1>login</h1>
      <form method="post" action="{% url 'logindata'%}">
        {%csrf_token%}
        <div class="txt_field">
          <input type="name" required name="email" />
          <span></span>
          <label>Email</label>
        </div>

        <div class="txt_field">
          <input type="password" required name="pass"/>
          <span></span>
          <label>Password</label>
        </div>

        <div class="pass">Forgot Password?</div>
        <input type="submit" value="Login" />
        <div class="signup_link">
          Not a member? <a href="{% url 'signup' %}">Signup</a>
        </div>
        <!-- Checking if the errmsg is true or not  -->
        {%if errmsg %}

        <div class="textbox">
          <p style="color: red">{{errmsg}}</p>
        </div>

        {%endif%}
      </form>
    </div>
  </body>
</html>

{%endblock%}
