{% extends 'base.html' %}
{%load static %}
{% block signup %}
<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login & Signup Form</title>
  <link rel="stylesheet"  href="{% static 'style.css' %}"/>
</head>


<body>
  <section class="wrapper">


    <div class="form signup">
      <header>Signup</header>
      <form action="#">
        <input type="text" placeholder="Full name" required name="name" />
        <input type="text" placeholder="Email address" required name="email" />
        <input type="password" placeholder="Password" required name="pass1" />
        <input type="password" placeholder="Confirm Password" required name="pass2" />

        <input type="submit" value="Signup" />
      </form>
    </div>




    <div class="form login">
      <header>Login</header>
      <form action="#">
        <input type="text" placeholder="Email address" required name="logname" />
        <input type="password" placeholder="Password" required name="logpass" />
        <a href="#">Forgot password?</a>
        <input type="submit" value="Login" />
      </form>
    </div>

<!-- <script src="{%static 'script.js'%}"></script> -->
    <script>
      const wrapper = document.querySelector(".wrapper"),
        signupHeader = document.querySelector(".signup header"),
        loginHeader = document.querySelector(".login header");

      loginHeader.addEventListener("click", () => {
        wrapper.classList.add("active");
      });
      signupHeader.addEventListener("click", () => {
        wrapper.classList.remove("active");
      });
    </script>
  </section>
</body>

</html>



{%endblock%}